body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
}

.streamo{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 60px;
}

.arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    cursor: pointer;
}

    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;
    }

h1{
    display: flex;
    justify-content: center;
}

img{
    display: flex;
    justify-content: center;
    margin-left: 515px;
}

h3{
    display: flex;
    justify-content: center;
}

ol{
    margin-left: 515px;
}

p{
    display: flex;
    justify-content: center;
    text-align: justify;
}

ul{
    margin-left: 515px;
}