body {
      margin: 0;
      background: url('../imgs/streamo-10-05-2025.png') no-repeat center center fixed;
      background-color: #0f0f0f;
      font-family: Arial, sans-serif;
    }

    .login {
      background-color: rgba(0, 0, 0, 0.8);
      color: #f8f8f8;
      margin: 200px auto;
      padding: 45px;
      width: 300px;
      border-radius: 10px;
      text-align: center;
    }

    .login label {
      display: block;
      text-align: left;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .login input {
      width: 95%;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 5px;
    }

    .login button {
      width: 102%;
      padding: 10px;
      background-color: #f8f8f8;
      color: #535050;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }

    .input-container {
      position: relative;
       width: 100%;
    }

    ::placeholder{
      color: #535050;
    }

    .input-container i {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-80%);
      cursor: pointer;
      color: #535050;
    }