body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.streamo {
    background-color: black;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.streamo img {
      height: 50px;
      width: auto;
      margin: 0;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 100;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    cursor: pointer;
}

.principal {
    display: flex; 
    max-width: 1000px; 
    margin: 30px auto; 
    padding: 0 20px; 
    gap: 60px; 
}

.esquerda {
    flex: 1; 
    min-width: 300px;
    margin-top: 25px;
}

.direita {
    flex: 1; 
    min-width: 300px; 
    padding: 30px;
    background-color: #3c3c3c;
    border-radius: 15px;
}

img {
    display: block;
    border-radius: 15px;
    width: 325px; 
    height: auto;
    margin-bottom: 20px; 
    margin-left: 60px;
}

h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 30px; 
}

ol, ul {
    padding-left: 25px; 
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #242424;
    margin: 30px 0;
}